<div id="animalPicker">
  <form id="pickAnimalForm">
    <select name="animals" ng-model="animalType">
      <option value="barnyard" selected>Barnyard</option>
      <option value="bird">Bird</option>
      <option value="cat">Cat</option>
      <option value="dog">Dog</option>
      <option value="horse">Horse</option>
      <option value="pig">Pig</option>
      <option value="reptile">Reptile</option>
      <option value="smallfurry">Small Furry</option>
    </select>
    <button id="genRanAnimal; showme=true" ng-click="animalFinder()">Random!</button>
  </form>
</div>
<div>
  <h2>Random Animal!</h2>
  <div id="makeFavorite">
    <button id="makeFavBtn" ng-click="saveAnimal()">Favorite</button>
  </div>

  <div id="randomAnimal">
    <div id="animalDescription">
      Description: {{animalInfo.description.$t}}
    </div>
    <div id="animalInfo">
      Info:
    </div>
    <div id="animalPic">
      Image: <img ng-src="{{animalInfo.media.photos.photo[2].$t}}" />
    </div>
  </div>
</div>
