<div id="animalPicker" class="row">
  <form id="pickAnimalForm">
    <select name="animals" ng-model="animalType">
      <option value="barnyard" selected="selected">Barnyard</option>
      <option value="bird">Bird</option>
      <option value="cat">Cat</option>
      <option value="dog">Dog</option>
      <option value="horse">Horse</option>
      <option value="pig">Pig</option>
      <option value="reptile">Reptile</option>
      <option value="smallfurry">Small Furry</option>
    </select>
    <button id="genRanAnimal" ng-click="animalFinder(); showme=true">Random!</button>
    <p>Favorited Animals: {{favesCount}}</p>
  </form>
</div>

<div class="row" ng-show="showme">
  <div class="nine columns">
    <h2>Random animal</h2>
  </div>
  <div class="three columns">
    <img src="../../images/favoriteicon.png" class="makeFavBtn" ng-click="saveAnimal()" />
    <!-- <button id="makeFavBtn" ng-click="saveAnimal()">Favorite</button> -->
  </div>
</div>

<div ng-show="showme" class="row">
  <div id="randomAnimal">
    <div class="six columns">
      <div class="animalDescription">
        {{animalInfo.description.$t | limitTo:750}}
      </div>
      <div class="animalInfo">
        <ul>
          <li>
            <span>Name: </span>{{animalInfo.name.$t}}
          </li>
          <li>
            <span>Age: </span>{{animalInfo.age.$t}}
          </li>
          <li>
            <span>Breed: </span>{{animalInfo.breeds.breed.$t}}
          </li>
        </ul>
      </div>
    </div>
    <div class="six columns">
      <div class="animalPic">
        <img ng-src="{{animalInfo.media.photos.photo[2].$t}}" />
      </div>
    </div>
  </div>
</div>
